@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px); /* Optional: add a slight upward movement */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* I did not create the animation thing above. Please learn more about keyFrames and animations*/

/*Colors & Hex Codes
    Parchment – #f6f2ea
    Leather – #c29b87
    Oak – #a97954
    Manuscript – #1e423f
    Binding – #532c2e
    Crimson – #34000b
    Gold – #A28B23
*/
button {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 16px;
    color: #f6f2ea;
    background-color:#1e423f;
    border-radius: 15px;
    cursor: pointer;
}
button:hover {
    background-color: #0e2514;
}
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #c29b87;
}

.hidden {
    visibility: hidden;
}
.unhidden{
    animation: fadeIn 0.5s ease-in forwards;
    visibility: visible;
    
}
#headerContainer {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    font-family: Spartacus, sans-serif;
    font-size: 24px;
    align-items: center;
    align-content: center;
    background-color: #532c2e; 
    padding-left: 20px; 
}
#library-title {
    color: #f6f2ea;
}
#userInfoContainer {
    padding-left: 20px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    color: #f6f2ea;
    background-color: #532c2e;

}
#userInfoContainerInner {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 15px;
    font-size: 18px;
    font-family: "Arial Rounded MT Bold", sans-serif;
}
#userInfoContainerInner > img {
    border: 2px solid #A28B23;
    border-radius: 50%;
}
#userInfoInnerText > h2 {
    letter-spacing: 2px;
}
#buttonsContainer {
    display: flex;
    gap: 10px;
    padding: 10px;
    padding-left: 50px;
    background-color: #532c2e;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.562);
}

#library-container{
    box-sizing: border-box;
    display: flex;
    background-color: #F5F5DC;
    padding: 10px;
    width: 100%;
    height: fit-content;
}
 #newBookCardContainer {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
    margin: auto;
    width: 80%; 
} 

#addNewBookCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #A28B23;
    margin: 10px;
    width: 200px;
    max-width: 200px;
    height: 300px;
    max-height: 300px;
    background-color: #c29b87;
}
#addNewBookCardInnerDiv {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 24px;
    padding: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #f6f2ea;
}



.bookCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #A28B23;
    border-radius: 15px;
    margin: 10px;
    width: 250px;
    max-width: 300px;
    height: 300px;
    max-height: 400px;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.562);

}

.bookCardInnerDiv {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
    gap: 15px;
    color: white;
}
.bookCardInnerDiv > ul{
   list-style-type: none;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   margin: auto;
   justify-content: center;
   gap: 15px;
   height: 70%;
   max-width: 100%;
   width: 100%;
}

.bookCard:nth-child(odd) {
    background-color: #532c2e;   

}
.bookCard:nth-child(even) {
    background-color: #1e423f;
}
.bookCardInnerDiv > h2 {
    margin: 0;
}

.bookCardBtns {
    display: flex;
    width: 50%;
    align-self: center;
    justify-content: center;
}
.bookCardBtns > button {
    padding: 5px;
    border: none;
    border-radius: 105px;
    background-color: #A28B23;
    color: #f6f2ea;
    cursor: pointer;
}

